body {
  background: #0f172a;
  color: white;
  font-family: Arial;
  padding: 20px;
}

.card {
  background: #1e293b;
  padding: 15px;
  margin: 10px;
  border-radius: 8px;
}

button {
  padding: 8px;
  margin: 5px;
  cursor: pointer;
}

input {
  width: 100%;
  padding: 8px;
  margin: 5px 0;
}

.modal {
  position: fixed;
  top:0; left:0;
  width:100%; height:100%;
  background: rgba(0,0,0,0.8);
  display:flex;
  align-items:center;
  justify-content:center;
}

.modal-box {
  background:#020617;
  padding:20px;
  border-radius:10px;
  width:300px;
}

.hidden { display:none; }
